@model ToDoList.Application.ViewModels.ListToDoForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Zadania</h1>

<p>
    <a asp-action="Create">Dodaj nowe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numer
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Opis (opcjonalnie)
            </th>
            <th>
                Czy zakończono?
            </th>
            <th>
                Data utworzenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Todos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
